@media only screen and (min-width: 1250px) {

.container { /* main wrapper */
  width: 1170px;
}

.heading--h1 { /* main h1 style*/
  font-size: 80px;
}
  
.heading--h2 { /* main h2 style*/
  font-size: 54px;
}

/* ---- header ----*/

.header__nav {
  display: block;
  margin-right: 370px;
}

.header__nav .la-chain {
  display: none;
}

.header__nav ul {
  font-size: 18px;
}

.header__nav li {
  display: inline;
  margin-right: 28px;
}

.header a:hover {
  color: #efbb35;
}

/* ---- about ----*/

.about__name {
  padding-top: 179px;
}

.about__name .heading {
  margin-bottom: 15px;
}

.about__photo {
  top: 31px;
  left: 53%;
  padding-left: 0px;
  padding-right: 440px;
  background-position: 38% 0;
  background-size: cover;
}

/* ---- works ---- */

.works__carousel {
  margin-bottom: 51px;
}

.carousel-cell { /* flickity-tools */
  width: 35%;
}

.flickity-button { /* flickity-tools */
  display: block;
  top: 39%;
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.2);
}

.flickity-button:focus { /* flickity-tools */
  outline: none;
  box-shadow: 0 0 0 5px #19F;
}

.flickity-prev-next-button.previous { /* flickity-tools */
  left: -30px;
}

.flickity-prev-next-button {
  height: 60px;
  width: 60px;
}

.flickity-prev-next-button.next { /* flickity-tools */
  right: -30px;
}

.flickity-page-dots { /* flickity-tools */
  display: none;
}

.works__img {
  width: 370px;
	height: 290px;
}

/* ---- preice ---- */

.price {
  padding-top: 55px;
  padding-bottom: 80px;
}

.price .heading {
  font-size: 42px;
  line-height: 55px;
  margin-bottom: 32px;
}
.price .subheading {
  font-size: 22px;
  line-height: 30px;
}

/* ---- footer ---- */
.footer {
  padding-top: 70px;
}

.footer a:hover {
  color: #efbb35;
}
}

@media only screen and (min-width: 1920px) {

.symbols__item--1 { /* symbols */
  font-size: 45px;
  transform: translate(-216px, -14px) rotate(-15deg);
}
  
.symbols__item--2 { /* symbols */
  font-size: 52px;
  transform: translate(-877px, -37px) rotate(30deg);
}
  
.symbols__item--3 { /* symbols */
  font-size: 35px;
  transform: translate(-62px, 377px) rotate(19deg);
}
  
.symbols__item--4 { /* symbols */
  font-size: 58px;
  transform: translate(-762px, 197px) rotate(15deg);
}
  
.symbols__item--5 { /* symbols */
  font-size: 38px;
  transform: translate(-638px, 509px) rotate(-24deg);
}

.symbols__item--6 { /* symbols */
  font-size: 38px;
  transform: translate(1603px, -81px) rotate(-25deg);
}

.symbols__item--7 { /* symbols */
  font-size: 49px;
  transform: translate(83px, -102px) rotate(25deg);
}

.symbols__item--8 { /* symbols */
  font-size: 35px;
  transform: translate(1372px, 146px) rotate(22deg);
}

.symbols__item--9 { /* symbols */
  display: inline-block;
  font-size: 61px;
  transform: translate(196px, 90px) rotate(13deg);
}

.symbols__item--10 { /* symbols */
  display: inline-block;
  font-size: 55px;
  transform: translate(1716px, 90px) rotate(-13deg);
}
  
}

