@font-face {
  font-family: 'Segoe UI Regular';
  src: url('../fonts/SegoeUI-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

@font-face {
  font-family: 'IBM Plex Mono Extra Light Italic';
  src: url('../fonts/IBMPlexMono-ExtraLightItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI Regular';
  font-weight: 300;
}

html {
  color: #f9ffee;
  background-color: #222831;
}

a {
  text-decoration: none;
  color: #fee6c0;
  transition: .2s;
}

span {
  display: block;
}

ul {
  list-style: none;
}

::-moz-selection { /*selection color*/
  background: #c3900c; 
}
::selection { 
  background: #c3900c; 
}

.container { /* main wrapper */
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.heading { /*main styule for headings*/
  font-family: 'IBM Plex Mono Extra Light Italic';
  font-weight: 300;
  color: #efbb35;
}

.heading--h1{
  font-size: 30px;
}

.heading--h2 {
  font-size: 28px;
}

/* ---- header ----*/

.header {
  padding-top: 26px;
  margin-bottom: 32px;
  overflow: hidden;

}

.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: none;
}

.header__nav a {
  color: #f9ffee;
}

.header__nav--active {
  z-index: 10;
  display: block;
  position: absolute;
  color: #f9ffee;
  background-color: #1F242C;
  border-bottom: 2px solid rgba(236, 198, 48, .3);
  font-style: normal;
  border-radius: 4px;
  padding: 5px 10px 0;
  line-height: 35px;
  top: 60px;
}

.header__nav .la-chain {
  color: #fee6c0;
  padding-right: 20px;
}

.header__phone {
  font-size: 18px;
}

.la-phone {
  font-size: 14px;
  color: #f9ffee;
}

/* ---- about ---- */

.about {
  overflow: hidden;
  text-align: center;
}

.symbols__item {
  z-index: 1;
  display: inline;
  position: absolute;
  color: #FAE042;
  user-select: none;
  -moz-user-select: none;
}


.symbols__item--1 { /* symbols */
  transform: translate(-38px, -54px) rotate(-30deg);
}

.symbols__item--2 { /* symbols */
  font-size: 22px;
  transform: translate(-158px, -38px) rotate(30deg);
}

.symbols__item--3 { /* symbols */
  font-size: 14px;
  transform: translate(37px, -7px) rotate(21deg);
}

.symbols__item--4 { /* symbols */
  font-size: 28px;
  transform: translate(-172px, 66px) rotate(15deg);
}

.symbols__item--5 { /* symbols */
  display: none;
}

.elements--active {
  transition: transform 5000ms;
  transform: translate(50px, 50px);
}

.about .container {
  padding: 0;
}

.about__photo {
  background: url('../img/bg-2.png') 38% 89px no-repeat;
  background-size: cover;
  padding-top: 50px;
  margin-bottom: 11px;
  height: 384px; /* высота блока + символы*/
}

.about__photo img {
  height: 334px; /*высота картинки в макете*/
}

.about__name .heading {
  margin-bottom: 9px;
}

.about__desc {
  display: block;
  padding: 0 54px;
  margin-bottom: 22px;
}

/* ---- skills ---- */

.skills {
  text-align: center;
  padding-top: 40px;
  margin-bottom: 93px;
}

.skills .heading {
  margin-bottom: 44px;
}

.skills__wrapper {
  width: 280px;
  margin-bottom: 51px;
}

.skills__item {
  padding-top: 70px;
  margin-bottom: 53px;
  line-height: 25px;
}

.skills__item--1 {
  background: url('../img/skills-icon-1.png') top no-repeat;
  background-size: 61px 56px;
}

.skills__item--2 {
  background: url('../img/skills-icon-2.png') top no-repeat;
  background-size: 61px 56px;
}
.skills__item--3 {
  background: url('../img/skills-icon-3.png') top no-repeat;
  background-size: 61px 56px;
}
.skills__item--4 {
  background: url('../img/skills-icon-4.png') top no-repeat;
  background-size: 61px 56px;
  margin: 0;
}

/* ---- works ----*/

.works {
  text-align: center;
  margin-bottom: 50px;
}

.works .heading {
  margin-bottom: 35px;
}

.works__carousel {
  margin-bottom: 45px;
}

.flickity-viewport {
  margin-bottom: 40px;
}

.carousel-cell { /* flickity-tools */
	padding-top: 5px;
  width: 100%;
}

.flickity-button { /* flickity-tools */
  display: none;
}

.flickity-page-dots { /* flickity-tools */
  position: static;
}

.flickity-page-dots .dot { /* flickity-tools */
  background: #e1e1ff;
  height: 15px;
  width: 15px;
  margin: 0 10px;
}

.works__img {
 	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
  width: 275px;
  height: 245px;
  object-fit: cover;
  object-position: 0 0;
  margin-bottom: 20px;
}

.works__paragraph {
  color: #e1e1ff;
  font-size: 18px;
  display: block;
}

/* ---- price ---- */

.price {
  padding-top: 44px;
  padding-bottom: 48px;
  background: linear-gradient(to bottom, transparent, rgba(236, 198, 48, .1));
}

.price .about__symbols {
  display: none;
}

.price .heading {
  font-size: 26px;
  margin-bottom: 25px;
}

.price__desc {
  line-height: 30px;
}

/* ---- footer ---- */

.footer {
  padding-top: 40px;
}

.footer .container {
  margin-bottom: 45px;
}

.footer__menu-list {
  line-height: 30px;
  margin-bottom: 30px;
}

.footer__contacts-list {
  line-height: 48px;
  font-size: 20px;
  margin-bottom: 15px;
}

.footer__contacts-list .la {
  font-size: 16px;
  padding-right: 15px;
}

.footer .button {
  margin-bottom: 70px;
}

.social-icons li {
  display: inline;
}  

.social-icons__item {
	padding-right: 50px;
	padding-top: 10px;
}

.social-icons__item--vk {
  background: url('../img/css_sprites.png') -60px -60px;
}

.social-icons__item--fb {
	background: url('../img/css_sprites.png') -60px -10px;
}	

.social-icons__item--twit {
	background: url('../img/css_sprites.png') -10px -60px;
}

.social-icons__item--insta {
	background: url('../img/css_sprites.png') -10px -10px;
}

.footer__copyright {
  display: block;
  line-height: 50px;
  text-align: center;
  background-color: #1F242C;
}
