.popup__overlay {
  z-index: 20;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.popup__overlay:target {
  visibility: visible;
  opacity: 1;
}


.callback__popup {
  position: relative;
  margin: 70px auto;
  padding: 20px;
  background: #222831;
  border-radius: 5px;
  width: 80%;
  max-width: 320px;
  transition: all 5s ease-in-out;
}

.callback__popup .heading, .callback__popup .subheading {
  text-align: center;
  margin-bottom: 20px;
}

.popup__overlay input {
  -webkit-appearance: none;
  border-style: solid;
  border-width: 1px;
  border-color: #CCC;
  display: block;
  padding: .5rem;
  width: 100%;
  background:#1a1d24;
  color: #F9FFEE;
  margin-top: 10px;
}

.popup__overlay em {
  background-color: rgba(236, 198, 48, .1);
  padding: 5px 7px 0;
  border-bottom: 2px solid rgba(236, 198, 48, .3);
  font-style: normal;
  border-radius: 4px;
}

.popup__overlay p {
  margin-bottom: 20px;;
}

.popup__closebtn {
  position: absolute;
  top: -5px;
  right: 10px;
  font-size: 32px;
}

.callback__popup .button {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .popup__subheader, .popup__overlay em {
    font-size: 18px;
  }
}

